### Overview
The purpose of this exercise is to rank NBA seasons and determine which player has had the best season ever.

To-dos:
- Add player positions
- Bias weighting by position

### Import data

In [21]:
# Import packages

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from concurrent.futures import ThreadPoolExecutor, as_completed

In [22]:
# Make a list of all the stats that will be important to track
stats = ['min', 'fgm', 'fga', 'fg3m', 'fg3a', 'ftm', 'fta', 'oreb', 'dreb', 'ast', 'stl', 'tov', 'blk', 'pts'
]
player_names_header = ['player_id', 'player_name', 'season_id']

In [23]:
# Read in per-season stats and player information
career_stats_csv = '/Users/YouCanCallMeAll/code/nbadata/df_player_career_stats.csv'
player_info_csv = '/Users/YouCanCallMeAll/code/nbadata/df_player_info.csv'

df_stats = pd.read_csv(career_stats_csv, header=0)
df_player_info = pd.read_csv(player_info_csv, header=0)

In [24]:
# Survey data
df_stats
df_player_info

      PERSON_ID FIRST_NAME  ... DRAFT_NUMBER GREATEST_75_FLAG
0          1505      Tariq  ...           11                N
1            51    Mahmoud  ...            3                N
2        203518       Alex  ...           32                N
3         76005        Tom  ...           43                N
4         76002       Zaid  ...            5                N
...         ...        ...  ...          ...              ...
5028        678     George  ...           22                N
5029      78648       Bill  ...           33                N
5030      78647        Jim  ...    Undrafted                N
5031      78650       Matt  ...          NaN                N
5032    1641783    Tristan  ...           18                N

[5033 rows x 33 columns]

### Scrub data

In [25]:
# Convert all headers to lowercase
df_stats.columns = df_stats.columns.str.lower()
df_player_info.columns = df_player_info.columns.str.lower()

# Rename the person_id column in df_player_info to player_id
df_player_info.rename(columns={'person_id': 'player_id'}, inplace=True)

# Drop null value rows
df_stats.dropna(how='all', inplace=True)

# Remove any seasons with fewer than 10 games played
stats_df = df_stats[df_stats['gp'] >= 10]

# Remove any seasons before 1974, when they began tracking orebs, drebs, steals, and blocks
# Ensure season_id is in a comparable format
df_stats['season_id'] = df_stats['season_id'].apply(lambda x: int(x.split('-')[0]))

# Filter the DataFrame to keep only seasons from 1973-74 onwards
df_stats = df_stats[df_stats['season_id'] >= 1973]

# If you want to convert the season_id back to the original format
df_stats['season_id'] = df_stats['season_id'].apply(lambda x: f"{x}-{str(x+1)[-2:]}")

# Convert each stat to per game by dividing by games played
for stat in stats:
    if stat in df_stats.columns:
        df_stats[stat] = df_stats[stat] / df_stats['gp']

# Add player names to stats dataframe
df_stats = pd.merge(
    df_player_info['player_id', 'display_first_last', 'position']
    , df_stats
    , on=['player_id']
    , how='outer'
).drop_duplicates()

# Drop null value rows
df_stats.dropna(how='all', inplace=True)

df_stats

       player_id season_id  league_id  ...       tov   pf        pts
4          76003   1973-74          0  ...       NaN  238  27.049383
5          76003   1974-75          0  ...       NaN  205  29.984615
6          76003   1975-76          0  ...       NaN  292  27.743902
7          76003   1976-77          0  ...       NaN  262  26.243902
8          76003   1977-78          0  ...  3.354839  182  25.806452
...          ...       ...        ...  ...       ...  ...        ...
30439     203967   2022-23          0  ...  0.972973   69   5.810811
30440     203967   2022-23          0  ...  0.950000   30   7.350000
30441     203967   2022-23          0  ...  0.964912   99   6.350877
30442     203967   2023-24          0  ...  1.218750  112   8.046875
30443     203967   2024-25          0  ...  1.100000   14   3.400000

[26281 rows x 27 columns]

### Normalize data

We need to normalize our data. Scoring 22 ppg in 1993 isn't the same as scoring 22 ppg in 2023. The modern NBA features more attempts
 per game and higher rates of accuracy. Additionally, the introduction and wide-spread adoption of the three point shot has increased 
 scoring over time. In order to compare across seasons, we need to normalize data to compare performance fairly.

We're going to:
- Create a column that takes a raw statistical value
- Subtracts the minumum value from that season
- Divides by difference between max and min values from that season to normalize the stat.

In [26]:
# Create our calculations for normalizing statistics across an entire dataframe

def normalize_col(col):
    normalized_input = (col - col.min()) / (col.max() - col.min())
    return normalized_input

def normalize_df(df):
    for col in stats:
        if col in df.columns:
            df['{}_norm'.format(col)] = normalize_col(df[col])
        else:
            print(f"Column '{col}' not found in DataFrame")
    return df

In [27]:
# Apply our new normalize_df function to the stats_df dataframe,
stats_df = normalize_df(stats_df).reset_index(drop=True)

stats_df.sort_values('pts_norm', ascending=False).head(10)

       player_id season_id  league_id  ...  tov_norm  blk_norm  pts_norm
4284       76375   1961-62          0  ...       NaN       NaN  1.000000
4285       76375   1962-63          0  ...       NaN       NaN  0.890047
12946        893   1986-87          0  ...  0.586207  0.274123  0.754778
4283       76375   1960-61          0  ...       NaN       NaN  0.752792
4286       76375   1963-64          0  ...       NaN       NaN  0.731695
12947        893   1987-88          0  ...  0.543103  0.287281  0.711839
3360         977   2005-06          0  ...  0.538793  0.065789  0.702904
15645      77498   1974-75          0  ...       NaN  0.381579  0.702656
2          76003   1971-72          0  ...       NaN       NaN  0.700422
9793      201935   2018-19          0  ...  0.834052  0.127193  0.699429

[10 rows x 41 columns]